.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
      /* display: block; */
      width: 31%;
      margin: auto;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #4ECCA3;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Lobster', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Lobster', cursive;

}
.btn-submit{
  background: #4ECCA3;
  font-family: 'Lobster', cursive;
}
.text{
  font-family: 'Indie Flower', cursive;
}
.blinkh1{
  text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
.error{
  font-family: 'Indie Flower', cursive;
    color: wheat;
}
